@use "@/styles/vars";

.screen-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 0;
  background-color: #fff;
  width: 70%;
  border-radius: 0.2rem 0.2rem 0 0;
  position: relative;
  overflow: hidden;

  p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 2.2rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }

  &::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 4rem;
    background-color: #232323;
    bottom: -2.5rem;
    border-radius: 50% 50% 0 0;
  }
}